MAIN_VITE_API_URL=https://hydra-api-us-east-1.losbroxas.org
MAIN_VITE_AUTH_URL=https://auth.hydra.losbroxas.org
MAIN_VITE_NIMBUS_API_URL=https://api.hydranimbus.com
RENDERER_VITE_REAL_DEBRID_REFERRAL_ID=
RENDERER_VITE_TORBOX_REFERRAL_CODE=
MAIN_VITE_LAUNCHER_SUBDOMAIN=
RENDERER_VITE_EXTERNAL_RESOURCES_URL=https://assets.hydralauncher.gg
